body {
    margin: 0;
}

.ui-container {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 50%;
}

button {
    background-color: #323232cc ;
    color: white;
    height: 50px;
    width: 150px;
    cursor: pointer;
    
}

.interface-container {
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(
        to bottom,
        #421b6c,
        #421b6f,   
        #111312    
      );
}

.asset-card {
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    margin: 5px;
    background-color: #3333335c;
}

.lights-button {
    background-color: #dd1e7a59;
    color: white;
    height: 50px;
    width: 150px;
    cursor: pointer;
    border: none;
  }

  .lights-button:hover {
    background-color: #dd1e7a99;
  }

.download-button {
    background-color: #32ac3259;
    color: white;
    height: 50px;
    width: 150px;
    cursor: pointer;
    border: none;
}

.download-button:hover {
    background-color: #32ac3299;
}

@media (max-width: 1000px) {    
    .interface-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        
    }

    .ui-container {
        width: 90%;

    }
    
    
}